[user]
    name = ""
    email = ""
    signingkey = ""

[log]
    showSignature = false # set to true for more verbosity

[commit]
    gpgSign = true
    verbose = true

[apply]
    whitespace = fix  # Detect whitespace errors when applying a patch

[tag]
    forceSignAnnotated = true

[pull]
    rebase = true  # rebase instead of merge when pulling. Use --no-rebase flag to set back to merge

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = true

[pager]
    # insanely beautiful diffs ==> npm install -g diff-so-fancy
    diff = (command -v diff-so-fancy >/dev/null && diff-so-fancy | less --tabs=4 -RFX || less)  # use diff-so-fancy if available, diff otherwise
    show = (command -v diff-so-fancy >/dev/null && diff-so-fancy | less --tabs=4 -RFX || less)  # use diff-so-fancy if available, diff otherwise

[core]
    pager = less
    editor = vim

[diff]
    renames = copies  # Detect copies as well as renames
    algorithm = histogram
    mnemonicprefix = true  # see https://stackoverflow.com/a/28017534 

[include]
    path = alias  # save alias in another file

[includeIf "gitdir:~/mgit/"]
    path = config_altpersona

[includeIf "gitdir:~/git/"]
    path = config_offpersona

# vim:filetype=gitconfig expandtab shiftwidth=4
